

.classes-card {
    float: left;
    margin: 10px;
    width: 250px
}

.home-container {
    float: right;
    align-items: flex-end;
    justify-content: flex-end;
}

/* <Button onClick={this.handleAddClick} 
                    variant="contained" color = "primary"
                    className={this.state.button}>Next</Button> */
